html{
    height: 100%;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}


.navbar-brand
{
    position: relative;
    background: url(../images/ank_logo.png);
    width: 120px;
    height: 45px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nav-span{
    margin-right: 10px;
}
.nav-link{
    color: white;
    font-weight: bolder;
}
footer {
    margin-top: auto;
}
